@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/*        header Section       */
.header{
  border:1px #759eda solid;
  background-color: #759eda;
  padding: 1.2% 1%;
}

.header{
  display: grid;
  display: -ms-grid;
  grid-template-columns: 25% 14%;
  align-items: baseline;
}




[type="text"]{
  background-color: #759eda;
  border:transparent;
  font-size:23px;
  color:white;
  font-weight: 400;
  margin-top:3%;
  padding-bottom:3.7%;
  
}

[type="text"]:focus{
  border-bottom:1px rgba(17, 22, 93, 0.3) inset;
  width:90%;
  outline: none;
  
}




.header button{
  background-color: #5879c7;
  border: 1px #5879c7 solid;
  height: 50px;
  min-width: 12.5vw;
  border-radius: 3%;
  margin-left:20%;
 
}

.header button a{
  text-decoration: none;
  text-transform: uppercase;
  color:#11165d;
  font-size: 19px;
  font-weight: 400;
}

/*       main          */

.main{
  background-color: #9ccef4;
  overflow-x: hidden;
}

.mostlycloudy_section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.mostlycloudy_img{
  max-width: 18%;
  max-height: 18%;
}

#overcast{
  color:white;
  font-weight:700;
  font-size: 24px;
  margin: 0 0 2% 0;
}

#temperature{
  color:#11165d;
  font-size: 26px;
  font-weight: 700;
  margin: 0 0 2.7% 0%;
}

.degree{
  font-weight: 400;
  font-size: 24px;
}

.degree::after{
  content:"° to ";
  font-weight: 400;
  font-size: 24px;
}

.Celsius{
  font-weight: 400;
  font-size: 24px;
}

.Celsius::after{
  content: "°C";
  font-weight: 400;
  font-size: 24px;
}

#Hum_Pres{
  color:#11165d;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  width: 21%;
  margin: 0 0 5.4% 0;
}

#pres{
  font-weight: 400;
}

#hum{
  font-weight: 400;
}

#hum::after{
  content: "%";

}

section span:first-child , section span:last-child{
  font-size: 18px;
  text-align: center;
}

section span:last-child::after{
  content: "°C";
}



.weather_list {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  max-width: 75%;
  margin: 0 auto;
}


.weather_list section .mostlycloudy{
  max-width: 50%;
  max-height: 50%;
}

.weather_list section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section span , section img:nth-child(2) {
  margin-bottom: 18%;
}

.weather_list section:last-child{
  margin-bottom: 25%;
}


/*         Responsive on Mobile */

@media only screen and (max-width:500px){
  .header{
    padding: 6.2% 1%;
  }
  
  .header {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 50% 50%;
    align-items: baseline;
  }

  .header button{
    height: 50px;
    box-shadow:2px 2px #11165d;
  }

  img.mostlycloudy_img {
    max-width: 50%;
    max-height: 50%;
  }

  #overcast {
    font-size: 35px;
    margin: 0 0 5% 0;
  }

  #temperature{
    font-size: 40px;
  }

  #temperature .degree,#temperature .Celsius{
    font-size: 30px;
  }
  
  #Hum_Pres {
    font-size: 31px;
    width: 95%;
    margin: 0 0 13% 0;
  }

  .weather_list {
    display: grid;
    display: -moz-grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 75%;
    margin: 0 auto;
  }

  section span:first-child, section span:last-child {
    font-size: 30px;
  }

  .weather_list section .mostlycloudy {
    max-width: 60%;
    max-height: 60%;
  }

  section:last-child{
    position: relative;
    left: 50%;
  }


  .weather_list .list_bg:nth-child(1), .list_bg:nth-child(4), .list_bg:nth-child(5){
    background-color:#759eda;
    border:1px #11165d inset;
    box-shadow:2px 2px #11165d;
  }
}